<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to Express</h1>
    </header>
    <section class="padding">
      <div class="flex container">
        <a href="/books"><button>list of Articles</button> </a>
        <a href="/books/new"> <button>Add New Article</button></a>
      </div>
    </section>
  </body>
</html>
