<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <header class="container flex padding">
      <a href="/"> <button>Go To Home page</button></a>

      <a href="/articles/new"> <button>Add New Article</button> </a>
    </header>
    <section>
      <div class="title">
        <% article.forEach((article) => {%>
        <div>
          <a href="/articles/<%=article.id%>">
            <h2><%= article.title%></h2>
          </a>
        </div>
        <%})%>
      </div>
    </section>
  </body>
</html>
